*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
}
.logo{
    color: #3366cc;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links-me{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links-me li{
    list-style: none
}

.nav-links-me a {
    color: #3366cc;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: #3366cc;
    margin: 5px;
}
.header{
    text-align: center;
}
.header h1{
    margin-top: 20px;
}

@media screen and (max-width:1024px){
    .nav-links{
    width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: trasform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    textarea{
        width: 100px;
    }
}

.nav-activate{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translate(50px);
    }to{
        opacity: 1;
        transform: translateX(0px)
    }
}


.header{
    border-radius: 15px 15px;
    background-color: #f2f2f2;
    
        
}


